html,
body {
  height: 100%;
  margin: 0;
}

.all {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #80ffcc;
}

/** GENERAL **/
.right {
  float: right;
}

.left {
  float: left;
}

/** HEADER **/
.header {
  flex: 0 1 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/images/wood-scrabble-board.jpg);
  background-position: center 49%;
  background-repeat: no-repeat;
  /* background-size: 100%; */

}

.header-text {
  font-family: Arial, serif;
  font-size: 400%;
  color: white;
  -webkit-text-stroke: 2px black;
}

/** BOARD **/
.board-container {
  /* board container's position on the page */
  flex: 5 1 auto;
  margin: 10px 0px 0px 0px;

  /* settings for canvas inside of container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  /* background-image: url(../assets/images/wood.jpg); */
  background-size: contain;

}

/** text-entry **/
.hand-container {
  /** position in containing flex box **/
  /** TODO consider allowing this to grow, as it will rely on interaction with
      a canvas **/
  flex: 0 1 175px;

  /** positioning for canvas inside container **/
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand {

}
