<div class="footer">
  {{#each this.letters as |letter|}}
    <!-- TODO consider extracting these divs into a separate "tile" component -->
    <div class="letterbox">{{capitalize letter}}</div>
  {{/each}}
</div>
